//copying saga's basic font styles for consistency

$font-family-sans-serif: 'Lato', sans-serif; 
$font-family-serif: 'Playfair Display', Georgia, serif;
$font-size-base: 16px; 
$heading-color: #333;
$primary-bg-color: rgb( 119, 119, 119 ); //copying from saga parent theme's style.css "Fun zone"
